/* header,<section-pend>,Navigation */

/* Declaring teh variable for color theme */
:root {
  --mt-color: #FED400;
  --mt-color-link: #f2f2f2;
  /* --mt-color: #f7c221; */
  /* --mt-color: #e3e329; */
}


body {
  background: #000;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a {
  color: var(--mt-color);
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: var(--mt-color);
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: var(--mt-color);
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

/* Prelaoder */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid var(--mt-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 40px 0;
  height: 100px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header.header-scrolled {
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 0;
  height: 72px;
  transition: all 0.5s;
}

#header #logo {
  float: left;
}

@media (min-width: 1024px) {
  #header #logo {
    padding-left: 60px;
  }
}

#header #logo h3 {
  /* font-size: 25px; */
  margin: 0;
  padding: 0;
  line-height: 0.6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header #logo h3 a#first_line {
  /* font-size: 25px; */
  color: #FED400;
  font-size: 30px;
  margin: 0;
  padding-top: 20px !important;
  /* line-height: 20px; */
  font-weight: 600;
  box-sizing: border-box;
  /* letter-spacing: 3px; */

}

#header #logo h3 a#second_line {
  /* font-size: 25px; */
  color: #fff;
  font-size: 15px;
  margin: 0;

  /* line-height: 1; */
  font-weight: 300;
  letter-spacing: 5px;
  box-sizing: border-box;
  /* line-height: 20px; */

}


#header #logo h3 a, #header #logo h3 a:hover {
  color: #fff;
}

/* Yellow border in the left side of logo text */
/* #header #logo #wrapping_logo_text{
  border-left: 4px solid var(--mt-color);
} */


#header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px;
  }
  #header #logo img {
    max-height: 40px;
  }

  #header {
    padding: 10px;
  }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
  -webkit-animation: swing-out-top-bck 0.2s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
  animation: swing-out-top-bck 0.2s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.sf-with-ul{
  margin-bottom: 15px;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
 -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  animation: swing-in-top-fwd 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

@media (min-width: 1024px) {
  #nav-menu-container {
    padding-right: 60px;
    margin: 10px 0;
  }
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 8px;
  /* padding: 0 8px 10px 8px; */
  text-decoration: none;
  display: inline-block;
  color: var(--mt-color-link);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 750;
  font-size: 13px;
  text-transform: uppercase;
  outline: none;

}

.nav-menu > li > a {

  border: 1px dashed rgba(0,0,0,0);
}

.nav-menu > li:hover > a, .nav-menu > .menu-active > a {
  color: var(--mt-color);
  border-color: var(--mt-color);

  /* border: 1px dashed var(--mt-color); */
  /* padding: 6px; */
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 0 0 0 0;
  padding: 0;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: var(--mt-color);
  /* background: var(--mt-color); */

}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  width:100%;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover {
  background: #feba00;

}
.nav-menu ul li:hover a {
  color:#fff;

}
.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

#mobile-nav ul li a:hover {
  color: var(--mt-color);
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul li.menu-active a {
  color: var(--mt-color);
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: var(--mt-color);
}

#mobile-nav ul .menu-has-children li a {
  text-transform: none;
}

#mobile-nav ul .menu-item-active {
  color: var(--mt-color);
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}



.zoom-in{
    -webkit-animation: zoomIn 400ms ease both;
    -moz-animation: zoomIn 400ms ease both;
    -o-animation: zoomIn 400ms ease both;
    animation: zoomIn 400ms ease both;
}
@-webkit-keyframes zoomIn {
    0% { -webkit-transform: scale(1.5); }
    100% { -webkit-transform: scale(1); }
}
@-moz-keyframes zoomIn {
    0% { -moz-transform: scale(1.5); }
    100% { -moz-transform: scale(1); }
}
@-o-keyframes zoomIn {
    0% { opacity: 0; -o-transform: scale(1.5); }
    100% { opacity: 1; -o-transform: scale(1); }
}
@keyframes zoomIn {
    0% { transform: scale(1.5); }
    100% { transform: scale(1); }
}
.zoom-out{
    -webkit-animation: zoomOut 400ms ease both;
    -moz-animation: zoomOut 400ms ease both;
    -o-animation: zoomOut 400ms ease both;
    animation: zoomOut 400ms ease both;
}
@-webkit-keyframes zoomOut {
    0% { -webkit-transform: scale(.6); }
    100% { -webkit-transform: scale(1); }
}
@-moz-keyframes zoomOut {
    0% { -moz-transform: scale(.6); }
    100% { -moz-transform: scale(1); }
}
@-o-keyframes zoomOut {
    0% { -o-transform: scale(.6); }
    100% { -o-transform: scale(1); }
}
@keyframes zoomOut {
    0% { transform: scale(.6); }
    100% { transform: scale(1);}
}


/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}




/**
 * ----------------------------------------
 * animation swing-out-top-bck
 * ----------------------------------------
 */
@-webkit-keyframes swing-out-top-bck {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
}
@keyframes swing-out-top-bck {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
}



/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  display: table;
  width: 100%;
  height: 100vh;
  background: #000;
}

#intro .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#intro .carousel-item::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#intro .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro .carousel-background img {
  max-width: 100%;
}

#intro .carousel-content {
  text-align: center;
}

#intro h2 {
  color: #fff;
  /* margin-bottom: 30px; */
  margin: 15px 0 15px 0;
  font-size: 36px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-align: center;

}


#intro .carousel-caption-heading {

  border-top: 0.5px solid white;
  border-bottom: .5px solid white;
  border-radius: 4px;
  /* display: inline-block; */
  max-width:330px;
  margin:auto;
  margin-bottom:20px;
  margin-top: 10vh;

  -webkit-animation: swing-in-top-fwd cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  animation: swing-in-top-fwd cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

  animation-duration: 1s;
  animation-delay: 0.6s;
}



/* ----------------------------------------------
 * Generated by Animista on 2020-5-17 19:37:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}





@media (max-width: 768px) {

  #intro p {
    display:none;
  }

  #intro h2 {
    color: #fff;
    /* margin-bottom: 30px; */
    margin: 15px 0 15px 0;
    font-size: 26px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    text-align: center;
  }

  #intro .btn-get-started {

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin:0;
    color: #fff;
    background: var(--mt-color);

    -webkit-animation: swing-in-top-fwd cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    animation-duration: 1s;
    animation-delay: 0.8s;
  }

  #intro .carousel-caption-heading {

    border-top: 0.5px solid white;
    border-bottom: .5px solid white;
    border-radius: 4px;
    /* display: inline-block; */
    max-width:330px;
    margin:auto;
    margin-bottom:80px;
    margin-top: 0;

  }


}

#intro p {
  width: 70%;
  margin: 0 auto 30px auto;
  color: #fff;
  -webkit-animation: swing-in-top-fwd cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  animation: swing-in-top-fwd cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

  animation-duration: 1s;
  animation-delay: 0.8s;
}

@media (min-width: 1024px) {
  #intro p {
    width: 60%;
  }
}

#intro .carousel-fade {
  overflow: hidden;
}

#intro .carousel-fade .carousel-inner .carousel-item {
  transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev, #intro .carousel-control-next {
  width: 10%;
}

@media (min-width: 1024px) {
  #intro .carousel-control-prev, #intro .carousel-control-next {
    width: 5%;
  }
}

#intro .carousel-control-next-icon, #intro .carousel-control-prev-icon {
  background: none;
  font-size: 32px;
  line-height: 1;
}

#intro .carousel-indicators li {
  cursor: pointer;
  background-color: #858585;
}

#intro .carousel-indicators .active , #intro .carousel-indicators li:hover {
  background-color: var(--mt-color);
  opacity: 1;
}

.ion-chevron-left::before,.ion-chevron-right::before {

 font-size: 16px;
 padding: 15px 20px 15px 20px;
 color: var(--mt-color);
 /* background: #fed400; */
}


@media (min-width: 768px){
.ion-chevron-left::before,.ion-chevron-right::before {
 border: 1px solid var(--mt-color);
 color: #fff;
 /* background: #fed400; */
}
}

.carousel-control-next, .carousel-control-prev {

margin-right: 30px;

}

@media (min-width:768px ){
#intro .btn-get-started {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: var(--mt-color);

  -webkit-animation: swing-in-top-fwd cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  animation: swing-in-top-fwd cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

  animation-duration: 1s;
  animation-delay: 0.9s;
}
}

#intro .btn-get-started:hover {
  background: #fff;
  color: var(--mt-color);
}


.overlay {
	/* background: transparent url("http://i.imgur.com/8B7UFiv.png") repeat; */
	background: transparent url("../img/intro-carousel/transparent.png") repeat;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
